<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>
    <h1>this is the base file of this CRUD operations</h1>

<h1>displaying the recorded data in table</h1>

{% if fmkey%}
<h1>this is data</h1>
 {% for fmone in fmkey %}

{{fmone.id}}
{{fmone.name}}
{{fmone.email}}
{{fmone.password}}

{% endfor %}

{% else %}
<h1>There is no data in table</h1>

{% endif %}

</body>
</html>