<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> this is home page </h1>

    <a href="{%url 'showpage' 1 %}">student 1</a>
    <hr>
    <a href="{%url 'showpage' 2 %}">student 2</a>
<hr>
<a href="{%url 'showpage' 3 %}">student 3</a>
<hr>
<a href="{%url 'showpage' 4 %}">student 4</a>
<hr>
<a href="{%url 'showpagedetails' 1 5 %}">sub student 1</a>
<hr>
<a href="{%url 'showpagedetails' 2 6 %}">sub student 2</a>
<hr>
<a href="{%url 'showpagedetails' 3 7 %}">sub student 3</a>
</body>
</html>