<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h1> this is the home page of DYNAMIC URL PATTERNS </h1>

     <a href="{%url 'showone' 1%}"> Student 1</a>
     <hr>
     <a href="{%url 'showone' 2%}"> Student 2</a>
<hr>
<a href="{%url 'showone' 3%}"> Student 3</a>
<hr>
<a href="{%url 'showone' 4%}"> Student 4</a>

</body>
</html>